* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-image: url(../img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 138px 0;

}


.container {
    margin: auto;
    max-width: 1147px;
}

h1 {
    color: rgba(0, 51, 149);
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
    font-weight: medium;
    font-size: 54px;

}

p {
    /* padding-top: 32px; */
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

nav {
    background: rgba(0, 51, 149);
    padding: 26px 0 27px 0;
    font-family: Roboto, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 62px;
    font-size: 18px;
    font-weight: 400;
}

main {
    font-family: Roboto, sans-serif;
}

.left-top {
    vertical-align: top;
    display: inline-block;
    max-width: 754px;
    margin-top: 57px;
    margin-right: 27px;
}

.right-top {
    vertical-align: top;
    display: inline-block;
    max-width: 362px;
    margin-top: 57px;
}

h2 {
    border: 2px solid transparent;
    border-top: solid #003395;
    border-bottom: solid #003395;
    padding: 13px 0 15px;
    font-family: Roboto, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: rgb(0, 51, 149);
}

.info {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0 34px 0;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 27px;
    font-weight: bold;
    background-color: rgb(36, 176, 255);
    padding: 14px 17px;
    color: white;
}

.text-aside {
    padding-top: 14px;
    font-family: Roboto, sans-serif;
    font-size: 16.2px;
    font-weight: 400;
    color: rgb(48, 35, 61);
    /* display: inline-block; */
}

li {
    list-style: none;
    margin: 16.4px 19px 18px 19px
}

li a {
    font-family: Roboto, sans-serif;
    font-size: 16.2px;
    font-weight: 400;
    color: rgb(48, 35, 61);
    line-height: 22.2px;
}

.first-aside {
    border: 2px rgb(51, 0, 141) solid;
    margin-bottom: 56px;
    padding: 19px 19px 18px 19px;
}

.second-aside {
    border: 2px rgb(51, 0, 141) solid;
    margin-bottom: 56px;
    padding: 19px 19px 18px 19px;
}

footer {
    background-image: linear-gradient(to bottom, rgb(0, 51, 149), rgb(0, 32, 95));
}

.end {
    font-family: Roboto, sans-serif;
    font-size: 11.7px;
    font-weight: 400;
    text-align: right;
    color: rgb(252, 252, 252);
    padding-top: 45px;
    padding-bottom: 83px;
}